# .gitignore for sh-stdlib

# Locally specific:
# - exclude bin/ (e.g. shtest symlink)
# - exclude generated version file
src/bin/shtest
src/version

# backups
*~
~.bak

# build output
dist/
build/

# IDEs
.idea/
.vscode/

# Local Python  venvs
venv/
.venv/
